@font-face {
    font-family: titleFont;
    src: url('./titleFont.ttf');
}

@font-face {
    font-family: mainFont;
    src: url('./mainFont.ttf');
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'mainFont';
}

header {
    height: 80px;
    background-color: #388087;
    font-family: 'titleFont';
    font-size: 3em;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

#centre {
    display: flex;
    height: 100%;
    background-color: #F6F6F2;
}

#sidebar {
    width: 350px;
    background-color: #BADFE7;
    height: calc(100vh - 100px);
}

footer {
    height: 20px;
    background-color: #388087
}

.toDo {
    background-color: #dedecd;
    display: flex;
}

.project {
    background-color: #93bcc6;;
    padding: 10px;
    border-width: 2px;
    display: flex;
}

.project:hover {
    background-color: #76979f;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 400px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}