body {
    padding: 0px;
    margin: 0px;
}

header {
    height: 80px;
    background-color: rgb(110, 110, 211);
}

#centre {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 350px;
    background-color: rgb(211, 211, 211);
    height: calc(100vh - 100px);
}

footer {
    height: 20px;
    background-color: rgb(110, 110, 211)
}

.toDo {
    background-color: red;
}

.project {
    background-color: aquamarine;
    padding: 20px;
}